<?xml version="1.0"?>
<config>
    <sections>
        <log404_options translate="label" module="fourzerofour">
            <label>404 Tools</label>
            <tab>advanced</tab>
            <frontend_type>text</frontend_type>
            <sort_order>1000</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>
            <groups>
                <log404_group translate="label comment" module="fourzerofour">
                    <label>404 log options</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>5000</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <expanded>1</expanded>
                    <fields>
                        <log404type translate="label comment">
                            <label>Save all 404 logs to:</label>
                            <frontend_type>select</frontend_type>
                            <sort_order>100</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <source_model>fourzerofour/log_type</source_model>
                            <comment>Select where 404 log informations should be stored</comment>
                        </log404type>
                        <log404referer translate="label comment">
                            <label>Save log if HTTP_REFERER is empty:</label>
                            <frontend_type>select</frontend_type>
                            <sort_order>50</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                        </log404referer>
                        <log404defaulturl translate="label comment">
                            <label>System redirect if product or a category is not found</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>51</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>Path used if a product / category were deleted</comment>
                        </log404defaulturl>
                        <dbjoin translate="label comment">
                            <label>Group database records</label>
                            <frontend_type>select</frontend_type>
                            <sort_order>101</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <comment>If selected, all 404 logs will be grouped and an icon will be shown if a redirect is created for this particular 404 address</comment>
                        </dbjoin>
                    </fields>
                </log404_group>
            </groups>
        </log404_options>
    </sections>
</config>